@charset "UTF-8";
/* --------- mixins --------- */
/* --------- mixins --------- */
/* --------- variables --------- */
/* --------- variables --------- */
/* colors */
/* --------- fonts --------- */
/* fonts */
/* fonts end */
/* --------- sections --------- */
/* стили по умолчанию */
a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

address {
  font-style: normal; }

input, textarea {
  outline: none;
  border: none; }

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  height: 100%;
  position: relative; }

/* чтобы прибить футер к низу */
.main {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: table; }
  .main--content {
    display: table-row;
    height: 100%; }

/* defaul style end  */
.wrapper {
  max-width: 960px;
  margin: 0 auto; }

.footer {
  width: 100%;
  height: 50px;
  background: blue; }
