// build:js js/vendor.min.js
// bower:js
script(src='bower/jquery/dist/jquery.js')
// endbower
// endbuild

// build:js js/main.min.js
script(src='js/app.js')
script(src='js/modules.js')
script(src='js/main.js')
// endbuild
